h1 {
    color: black;
    font-size: 45px;
}

.name {
    color: chocolate;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 2%;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40 px;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: 700;

}

.top-banner {
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;

}

.dreamBig {
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experienceItem {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

.box1 {
    border-left: 5px solid red;
}

.box2 {
    border-left: 5px solid blue;
}

.experienceArea {
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;

}